{# @var user \WP_User #}
{# @var event \WP_Post #}
<p>Hi SDRT Volunteer</p>
<p>The following volunteer just attempted to RSVP to the following event, but it is full.</p>
<p>
    Name: {{ user.first_name }} {{ user.last_name }}<br/>
    Email: {{ user.user_email }}<br/>
    Session: {{ event.post_title }}<br/>
    Capacity: {{ event.rsvps_limit }}<br/>
    Attendees: {{ getEventRsvpCount(event.ID) }}<br/>
    Date: {{ event._EventStartDate|date('F j, Y') }}<br/>
</p>
<p>Thanks for your help and support.</p>

